body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.4;
}

.hidden {
    display: none;
}

nav {
    display: flex;
    font-size: 1rem;
    gap: 1rem;
    max-width: fit-content;
    margin: 10px auto;
}

nav a {
    align-items: center;
    background: white;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
    display: flex;
    height: 40px;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    nav a {
        padding: 0 2rem;
    }
}

nav a .icon + .text {
    display: none;
}

@media (min-width: 768px) {
    nav a .icon + .text {
        display: initial;
        margin-left: 0.5rem;
    }
}
